<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookmarkData</key>
		<data>
		Ym9vawQEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA9AIAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGFuZ2VsbwAABwAAAAEB
		AABEZXNrdG9wABUAAAABAQAAcGxhbnQgZ2FtZSBtdXNpYy5iYW5kAAAAEAAA
		AAEGAAAEAAAAFAAAACQAAAA0AAAACAAAAAQDAADQWgAAAAAAAAgAAAAEAwAA
		HJ0DAAAAAAAIAAAABAMAACGdAwAAAAAACAAAAAQDAADu5IEBAAAAABAAAAAB
		BgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQcQx4r1nBnYYAAAAAQIAAAIA
		AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
		AE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHD5QRRgAAA
		JAAAAAEBAAA3QzZCNDk3Qi05NzcyLTQyNzYtODQxMS0zOEI2RTlFQ0QzRDUY
		AAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
		AAABBQAAGgAAAAEBAABOU1VSTERvY3VtZW50SWRlbnRpZmllcktleQAABAAA
		AAMDAAC4AAAACAAAAAAEAABBxDHivWcLOysAAAABAQAAL1VzZXJzL2FuZ2Vs
		by9EZXNrdG9wL3BsYW50IGdhbWUgbXVzaWMuYmFuZADdAAAAAQIAADU1ZmZk
		YjdkZDNjNTA2MDY0MmM3Mjg5MzYxMzYxZTE5M2U2MTU0MTUxNTYwYzZlY2Nh
		MTM1NWZlNWFlYWU2ODQ7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7
		MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13
		cml0ZTswMTswMTAwMDAxMDswMDAwMDAwMDAxODFlNGVlOzQyOy91c2Vycy9h
		bmdlbG8vZGVza3RvcC9wbGFudCBnYW1lIG11c2ljLmJhbmQAAAAA2AAAAP7/
		//8BAAAAAAAAABEAAAAEEAAAVAAAAAAAAAAFEAAArAAAAAAAAAAQEAAA1AAA
		AAAAAAAgEAAANAAAAAAAAABAEAAAxAAAAAAAAABCEAAAyAEAAAAAAAACIAAA
		hAEAAAAAAAAFIAAA9AAAAAAAAAAQIAAABAEAAAAAAAARIAAAOAEAAAAAAAAS
		IAAAGAEAAAAAAAATIAAAKAEAAAAAAAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAA
		AACA8AAADAIAAAAAAAAA/wAA2AEAAAAAAACYAQCAvAEAAAAAAAA=
		</data>
		<key>date</key>
		<string>2022-06-22 21:47:46 +0000</string>
		<key>unique-id</key>
		<string>EA09CBFF-4884-4CE2-88B7-057780FBFA2F</string>
	</dict>
</array>
</plist>
